/* Big tablets to 1200px */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }

  hr {
    margin: 0 2%;
  }
}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 1.6rem;
  }

  section {
    padding: 6rem 0;
  }

  .long-copy {
    width: 80%;
    margin-left: 10%;
  }

  .project-title h3 {
    font-size: 2rem;
  }

  .context-form {
    width: 80%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 1.4rem;
  }

  section {
    padding: 3rem 0;
  }

  .hero-text-box {
    padding: 0 4%;
  }

  .col {
    width: 100%;
  }

  .main-nav {
    display: none;
  }

  h1 {
    font-size: 180%;
  }

  h2 {
    font-size: 150%;
  }

  .col {
    margin: 0 0 0.5rem;
  }

  .long-copy {
    width: 100%;
    margin-left: 0;
  }

  .profile-img {
    text-align: center;
  }

  .avatar {
    float: none;
  }

  .portfolio-box {
    min-height: 8rem;
  }

  blockquote:before {
    font-size: 400%;
    top: -2rem;
    left: -1rem;
  }

  .work-experience-info {
    float: left;
    border: none;
    text-align: left;
    padding: 2%;
  }

  .work-experience-desc {
    padding: 2%;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 2.5rem 0;
  }

  .context-form {
    width: 100%;
  }
}