/*---------------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  overflow-x: hidden;
}

body {
  font-size: 1.8rem;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*---------------------------------------------*/
/*REUSABLE COMPONENT*/
/*---------------------------------------------*/

.row {
  max-width: 114rem;
  margin: 0 auto;
}

section {
  padding: 8rem 0;
}

.box {
  padding: 0.2rem;
}

hr {
  max-width: 114rem;
  margin: 0 auto;
  height: 1px;
  border: none;
  border-top: 2px solid #f4f4f4;
  box-shadow: none;
}

/*---------HEADINGS----------*/

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 4rem;
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 3.2rem;
  word-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 0.1rem;
}

h2:after {
  display: block;
  height: 0.2rem;
  background-color: #8e44ad;
  content: " ";
  width: 10rem;
  margin: 3rem auto 0;
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-weight: 300;
}

/*---------PARAGRAPHS----------*/
.long-copy {
  line-height: 1.45;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.box p {
  font-size: 1.8rem;
  line-height: 1.45;
}

/*---------ICONS----------*/
.icon-big {
  font-size: 7rem;
  display: block;
  color: #8e44ad;
  margin-bottom: 1rem;
}

.icon-small {
  display: inline-block;
  width: 3rem;
  text-align: center;
  color: #8e44ad;
  font-size: 120%;
  line-height: 1.2;
  vertical-align: middle;
  margin-top: -0.5rem;
  margin-right: 1rem;
}

/*---------LINKS----------*/
a:link, a:visited {
  color: #8e44ad;
  text-decoration: none;
  border-bottom: 0.1rem solid #8e44ad;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover, a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/*---------BUTTONS----------*/

.btn:link, .btn:visited, input[type="submit"] {
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 300;
  text-decoration: none;
  border-radius: 20rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, .btn-full:visited, input[type="submit"] {
  background-color: #8e44ad;
  border: 0.1rem solid #8e44ad;
  color: #fff;
  margin-right: 1.5rem;
}

.btn-ghost:link, .btn-ghost:visited {
  border: 0.1rem solid #8e44ad;
  color: #8e44ad;
}

.btn:hover, .btn:active, input[type="submit"]:hover, input[type="submit"]:active {
  background-color: #24132d;
  cursor: pointer;
}

.btn-full:hover, .btn-full:active, input[type="submit"]:hover, input[type="submit"]:active {
  border: 0.1rem solid #24132d;
}

.btn-ghost:hover, .btn-ghost:active {
  border: 0.1rem solid #24132d;
  color: #fff;
}


/*---------------------------------------------*/
/*HEADER*/
/*---------------------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/jumbotron-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 114rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  height: 10rem;
  width: auto;
  float: left;
  margin-top: 1.5rem;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 4rem;
  margin-top: 5.5rem;
}

.main-nav li a:link, .main-nav li a:visited {
  padding: 0.8rem 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  border-bottom: 0.2rem solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active {
  border-bottom: 0.2rem solid #8e44ad;
}

/*---------------------------------------------*/
/*ABOUT ME*/
/*---------------------------------------------*/

.section-about-me {
  background-color: #f4f4f4;
}

.profile-desc {
  padding: 1rem;
}

.profile-desc p {
  line-height: 1.6;
}

.avatar {
  border-radius: 50%;
  width: 20rem;
  height: auto;
  float: right;
  margin-right: 3%;
}

/*---------------------------------------------*/
/*WORK EXPERIENCE*/
/*---------------------------------------------*/

.work-experience-info {
  float: right;
  text-align: right;
  padding: 3%;
  padding-right: 5%;
  border-right: 2px solid #f4f4f4;
}

/*---------------------------------------------*/
/*TESTIMONIALS*/
/*---------------------------------------------*/

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/clients.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 1.45;
  position: relative;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5rem;
  left: -2rem;
}

cite {
  font-size: 90%;
  margin-top: 2.5rem;
  display: block;
}

cite img {
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  vertical-align: middle;
}

/*---------------------------------------------*/
/*PORTFOLIO*/
/*---------------------------------------------*/

.section-portfolio {
  background-color: #f4f4f4;
}

.portfolio-box {
  background-color: #fff;
  border-radius: 0.5rem;
  width: 100%;
  margin-left: 0%;
  box-shadow: 0 0.2rem 0.2rem #efefef;
}

.portfolio-box div {
  padding: 1.5rem;
  border-bottom: 0.1rem solid #e8e8e8;
}

.portfolio-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.portfolio-box div:last-child {
  text-align: center;
  border: none;
}

.portfolio-box .project-title {
  min-height: 11rem;
  text-align: center;
}

.portfolio-box img {
  width: 100%;
  height: auto;
}


/*---------------------------------------------*/
/*FORM*/
/*---------------------------------------------*/

.context-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"], input[type="email"], select, textarea {
  font-size: 1.8rem;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  color: #555;
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin: 1rem 0.5rem 1rem 0;
}

textarea {
  height: 10rem;
}

*:focus {
  outline: none;
}

input[type="submit"] {
  font-family: 'Lato', 'Arial', sans-serif;
}

/*---------------------------------------------*/
/*FOOTER*/
/*---------------------------------------------*/

footer {
  background-color: #333;
  padding: 3rem;
  font-size: 90%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li, .social-links li {
  display: inline-block;
  margin-right: 2rem;
}

.footer-nav li:last-child, .social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link, .footer-nav li a:visited, .social-links li a:link, .social-links li a:visited {
  text-decoration: none;
  border: none;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover, .footer-nav li a:active, .social-links li a:hover, .social-links li a:active {
  color: #ddd;
}

.social-links li a:link, .social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 1.5rem;
}